.div1 {
  text-align: center;
  background: chartreuse;
  height: 200px;
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.div1 img {
  width: 50px;
}
.div2 {
  background: cornsilk;
  height: 300px;
  width: 200px;
  margin: 30px;
}
